<div id="cv-menu-desktop">
    <div id="menu_content_common">
        <img src="../../../../../assets/app_logos/logo_fp_03.png" />
        <p>Tony's Resume</p>
        <div class="box_buttons">
            <a routerLink="/">Home</a>
        </div>
        <div class="box_buttons">
            <a routerLink="/training">Training</a>
            <a routerLink="/experience">Experience</a>
        </div>
        <div class="box_buttons">
            <a routerLink="/soft-skills">Soft Skills</a>
            <a routerLink="/hard-skills">Hard Skills</a>
        </div>
        <div class="box_buttons">
            <a routerLink="/projects">Projects</a>
        </div>
        <p>Download</p>
        <div id="cv-menu-links">
            <p> ▸ <a target="_blank" href="../../../../../assets/curriculum_vitae/cv_tony_en.pdf">CV Tony *.pdf ( English )</a></p>
            <p> ▸ <a target="_blank" href="../../../../../assets/curriculum_vitae/cv_tony_fr.pdf">CV Tony *.pdf ( Français )</a></p>  
        </div>
    </div>
</div>