<app-cv-menu-desktop></app-cv-menu-desktop>
<app-cv-menu-mobile></app-cv-menu-mobile>

<app-cv-menu-toggle></app-cv-menu-toggle>

<div id="row_white">
    <div class="cv_title_category">
        <h2>Soft Skills</h2>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ Pleasant</p>
    </div>
    <p>I heard that soft-skills were important !</p>

    <p>So, what can I say ?</p>

    <p>I do sleep a lot but... When I'm awake...</p>
    <p>I'm on Fire !</p>
</div>

<div id="row_white">
    <div id="container">
        <div class="cv_category_title">
            <p class="period">▸ Creative</p>
        </div>
        <p>Audio & Video Production are my hobbies since childhood.</p>
        <p>I enjoy bringing ideas to life through different forms of media.</p>
        <br>
        <p>If you'd like to see some examples of my work,</p>
        <p>check out my <u><a routerLink="/projects">projects</a></u></p>
    </div>
</div>

<div id="container">
    <div class="cv_category_title">
        <p class="period">▸ Assertif</p>
    </div>
    <p>Communication is the key !</p>
</div>