<app-cv-menu-desktop></app-cv-menu-desktop>
<app-cv-menu-mobile></app-cv-menu-mobile>

<app-cv-menu-toggle></app-cv-menu-toggle>

<div id="row_white">
    <div class="cv_title_category">
        <h2>Tony's Resume</h2>
    </div>
</div>

<div id="container">
    <p>Hello World !</p>
</div>

<div id="row_white">
    <div id="container">
        <p>As a developer, I embarked on my IT journey in February 2022.</p>
        <p>Diving headfirst into the world of Object Oriented Programming and building Restful APIs.</p>
        <p>Since then, I've continued to hone my skills and expand my knowledge, exploring new stacks and workflows along the way.</p>
    </div>
</div>

<div id="container">
    <p>With a hunger for learning and a drive to innovate, I am excited to tackle new challenges and help drive success in the IT industry.</p>
</div>